body {
    background-color: black;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

body::after {
    background-image: url("./Components/Images/Background.png");
    content: "";
    opacity: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#container {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: large;
    color: white;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: blue;
}

#containerTwo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: large;
    color: white;
    justify-content: center;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color:blue;
};

#containerThree {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: large;
    color: white;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: blue;

};
