.navibar {
    background-color: rgb(143, 143, 143);
}

#brand {
    color: black;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 117, 59);
    font-size: 30px;
}

.nav-link {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 117, 59);
    font-size: 30px;
}